/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@import "./milligram.min.css";


.grid {
  display: grid;
  grid-template-columns: repeat(30, 30px);
  //column-gap: .2em;
  //row-gap: .2em;
}

.grid-cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.grid-cell.block.gray {
  background-color: gray;
}

.grid-cell.block.pink {
  background-color: pink;
}

.grid-cell.block.orange {
  background-color: orange;
}

.grid-cell.block.green {
  background-color: green;
}

.grid-cell.block.blue {
  background-color: blue;
}

.grid-cell.block.purple {
  background-color: purple;
}

.grid-cell.block.yellow {
  background-color: yellow;
}

.grid-cell {
  a {
    color: white;
    text-decoration: none;
  }
}

.facing.up::after {
  content: "";
  z-index: 3;
  position: relative;
  display: inline-block;
  left: calc(-50% + 7.5px);
  top: calc(-100% + 5px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  //clear: both;
}

.facing.down::after {
  content: "";
  z-index: 3;
  position: relative;
  display: inline-block;
  left: calc(-50% + 7.5px);
  top: calc(25% + 10px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

.facing.left::before {
  content: "";
  z-index: 3;
  position: relative;
  display: inline-block;
  left: -50%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-right: 5px solid black;
}

.facing.right::after {
  content: "";
  z-index: 3;
  position: relative;
  display: inline-block;
  left: 50%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid black;
}

/**
 * Tooltip Styles from https://chrisbracco.com/a-simple-css-tooltip/
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  min-width: 30em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip].show-tooltip:after,
[data-tooltip].show-tooltip:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Modals from the default css */

/* Semi-transparent overlay container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Foreground container */
.modal-inner-container {
  position: float;
  z-index: 999;
  background: white;
  padding: 1em;
  border: 1px solid black;
}

